
  
<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new/blog/">POST BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
            </li>
        </ul>
    </div>
    {%if current_user.is_authenticated%}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="color: white">
             <a href="/" class="nav-link">{{current_user.username}} is signed in</a>
            </li>
            <li>
              <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
        </li>
      </ul>
    </div>
    {%endif%}
</nav>